.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #333333;
}

.opportunityWrapper {
  display: flex;
  width: 80%;
}

.general-info {
  width: calc(100% - 435px);
  height: auto;
}

.general-nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.general-nav-item {
  cursor: pointer;
  padding: 15px 0;
}

.general-nav-item.active {
  border-bottom: 2px solid #037ef3;
  color: #037ef3;
}

